.ShowedInfo.Lendings {
	grid-template-columns: 1fr auto;
}

.ShowedInfo.Lendings div {
	display: block;
}

.ShowedInfo.Lendings h4 {
	font-weight: 100;
}

.ReturnedIndicator {
	height: fit-content;
	padding: 5px 20px 5px 20px;
	border-radius: 25px;
	color: var(--active-fg);
}

.CenterRow {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.CenterRow div:nth-child(2) {
	align-self: flex-start;
}

.ItemsList ul {
	padding-left: 10px;
	max-height: 70px;
	gap: 10px;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
}

.ItemsList .ShowMore {
	max-height: unset;
}

.ItemsList ul li {
	width: fit-content;
}

.AuthorizedBy span {
	font-weight: 400;
}

.ShowMoreButton {
	display: flex;
	gap: 5px;
	align-items: center;
	background: none;
	outline: none;
	border: none;
	color: var(--active-fg);
	border-radius: 10px;
	padding: 0 5px 0 5px;
	margin: 5px 0 5px 0;
	cursor: pointer;
}

.ShowMoreButton:hover {
	background: var(--gradient-accent);
}

.InteractiveButtons.Lendings {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: end;
}

.InteractiveButtons.Lendings button {
	padding-top: 2px;
	padding-bottom: 2px;
}
