.tableHeader {
	display: block;
	height: auto;
	justify-content: space-between;
	padding: 10px 10px 40px 10px;
	position: sticky;
	top: 0;
	background: linear-gradient(to top, transparent, var(--secundary-bg) 25%);
	z-index: 1;
	color: var(--active-fg);
}

.tableHeader input {
	font-size: 0.9em;
	width: 100%;
}

.tableHeader input,
.tableHeader select {
	box-sizing: border-box;
	border-radius: 15px;
	height: auto;
	background: var(--tertiary-bg);
	color: var(--active-fg);
	outline: none;
	border: none;
	margin: 5px;
}

.tableHeader div {
	display: inline-block;
	width: 100%;
	font-size: 1.5em;
	align-items: center;
}

.tableHeader div p {
	padding: 0 10px 0 10px;
	font-size: 0.8em;
}

.tableHeader .tableSearchBar:focus {
	outline: none;
	caret-color: var(--primary-bg); /* Cambiar el color de la línea del cursor */
}

.tableContainer {
	width: 100%;
	color: var(--inactive-fg);
}

.table {
	border-collapse: collapse;
	border-spacing: 0px;
}

.table tbody tr:hover {
	color: var(--active-fg);
	font-weight: 500;
}

.table button {
	color: var(--secundary-bg);
	font-size: 1.5em;
	background: none;
	border: none;
}

.table tr:hover button {
	color: var(--inactive-fg);
}

.table button:hover {
	color: var(--active-fg) !important;
	cursor: pointer;
}

.table td {
	padding: 10px 0 0 10px;
	overflow: auto;
	word-break: break-all;
}

.table th {
	text-align: left;
}

.table div {
	box-sizing: border-box;
	resize: horizontal;
	overflow-x: auto;
	width: fit-content;
	min-height: fit-content;
	padding: 0 10px 0 10px;
	display: inline-block;
}

.table .tableDivAction {
	resize: none;
}

td div {
	border: 0;
	width: auto;
	height: auto;
	min-height: 20px;
}

@media screen and (min-width: 768px) {
	.tableHeader div {
		display: flex;
	}
	.tableHeader div p {
		font-size: 0.8em;
	}
}

/* @media (max-width: 450px) {
	.table thead {
		display: none;
	}

	.table,
	.table tbody,
	.table tr,
	.table td {
		display: block;
		font-size: 1.1em;
	}

	.table tr {
		margin-top: 20px;
		background: var(--tertiary-bg);
		border-radius: 15px;
		padding: 5px 0 5px 0;
	}

	.table button {
		color: var(--tertiary-bg);
	}

	.table tr:active button {
		color: var(--inactive-fg);
	}

	.table td {
		display: flex;
		text-align: right;
		padding: 10px;
		justify-content: space-between;
	}

	.table td::before {
		content: attr(data-label);
		position: relative;
		font-weight: bold;
		word-break: keep-all;
		margin-right: 10px;
	}

	.table td::after {
		content: '';
		position: absolute;
		width: 80%;
		height: 1px;
		background-color: var(--inactive-fg);
		opacity: 0.1;
	}
} */
