:root {
	--gradient-accent: #eeeefb;
	--inactive-fg: #5b5f6a;
	--active-fg: #292d32;
	--primary-bg: #bec1c9;
	--secundary-bg: #d0d1da;
	--tertiary-bg: #eeeefb;
	--logo-color: #bdc1c7;
	font-size: 16px;
}

[data-theme='dark'] {
	--gradient-accent: linear-gradient(226.32deg, #337ff6 31%, #739bd9 78.06%);
	--inactive-fg: #a3a3a3;
	--active-fg: #ffffff;
	--primary-bg: #292d32;
	--secundary-bg: #353840;
	--tertiary-bg: #5b5f6a;
	--logo-color: #353840;
	transition: all 1s ease-in-out;
}

[data-theme='light'] {
	--gradient-accent: #eeeefb;
	--inactive-fg: #5b5f6a;
	--active-fg: #292d32;
	--primary-bg: #bec1c9;
	--secundary-bg: #d0d1da;
	--tertiary-bg: #eeeefb;
	--logo-color: #bdc1c7;
	transition: all 1s ease-in-out;
}

* {
	font-family: 'Baloo Thambi 2', roboto, sans-serif;
	padding: 0;
	margin: 0;
}
body {
	background: var(--primary-bg);
	min-width: 300px;
	direction: ltr;
}

@media screen and (min-width: 768px) {
	:root {
		font-size: 16px;
	}
}

/* personalización de la barra de desplazamiento */
::-webkit-scrollbar {
	width: 5px; /* ancho de la barra */
	height: 5px;
}

::-webkit-scrollbar-track {
	background: transparent; /* color del fondo */
}

::-webkit-scrollbar-thumb {
	background-color: var(--primary-bg); /* color del thumb */
	border-radius: 20px; /* borde redondeado */
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--primary-bg);
	/* color del thumb en hover */
}

::-webkit-scrollbar-corner {
	display: none;
}
