.HomeChildContainer.UsersManagement {
	height: 100%;
	overflow: auto;
}

.Users.tableContainer {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	padding: 15px;
}

.Users.tableContainer .RefDiv {
	width: 100%;
}

.UserTabOptions.Personas.SearchOptions {
	flex-wrap: nowrap;
}

.UserTabOptions.RollContainer {
	width: inherit;
}
