.Personas.TableHeader {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.Personas.SearchOptions {
	display: flex;
	gap: 10px;
	justify-content: space-between;
}

.Personas.SearchOptions div:last-child {
	display: flex;
	height: fit-content;
	align-items: center;
}

.Personas.SearchOptions button:last-child {
	display: flex;
	color: var(--inactive-fg);
	background: transparent;
	border: 1px solid var(--inactive-fg);
	padding: 5px;
	border-radius: 10px;
}

.Personas.SearchOptions button:last-child:hover {
	color: var(--active-fg);
	border: 1px solid var(--active-fg);
	background: var(--gradient-accent);
}

.Personas.SearchOptions button.Active {
	background: var(--gradient-accent);
}
