.Personas.TableHeader {
	display: block;
	justify-content: space-between;
	padding: 0px 0px 40px 0px;
	position: sticky;
	top: 0;
	background: linear-gradient(to top, transparent, var(--secundary-bg) 20%);
	z-index: 1;
	color: var(--active-fg);
}

.Personas.SearchOptions {
	padding-top: 10px;
	display: flex;
	gap: 10px;
	justify-content: space-between;
}

.Personas.SearchOptions .SearchOptionsRigtside {
	display: flex;
	gap: 10px;
	align-items: center;
}

/* .Personas.SearchOptions div:last-child {
	display: flex;
	height: fit-content;
	align-items: center;
}
 */

.Personas.SearchOptions .buttonKeepExpand {
	display: flex;
	color: var(--inactive-fg);
	background: transparent;
	border: 1px solid var(--inactive-fg);
	padding: 5px;
	border-radius: 10px;
}

.Personas.SearchOptions .buttonKeepExpand:hover {
	color: var(--active-fg);
	border: 1px solid var(--active-fg);
	background: var(--gradient-accent);
}

.Personas.SearchOptions .buttonKeepExpand.Active {
	background: var(--gradient-accent);
}
