.tableHeader.Lendings {
	display: block;
	grid-template-rows: auto auto;
	gap: 10px;
}
.tableHeader.Lendings .TabOptions {
	display: flex;
	justify-content: flex-start;
}

.tableHeader.Lendings h2 {
	grid-column: 1;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	color: var(--inactive-fg);
}
.tableHeader.Lendings h2:hover,
.tableHeader.Lendings h2.active {
	color: var(--active-fg);
}

.tableHeader.Lendings .tableSearchBar {
	grid-column: 2;
	margin: 0;
	padding: 0 10px 0 10px;
	width: 100%;
}

.tableHeader.Lendings .tableSearchBar.InvalidInput {
	border: 1px solid var(--error-fg);
}

.TabOptions {
	gap: 20px;
}

.SearchOptions {
	gap: 10px;
	justify-content: end;
}

.ActiveLendingsRows {
	height: 0;
	scale: 0;
	opacity: 0;
	position: absolute;
	bottom: 0;
	transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
}

.ReturnedLendingsRows {
	height: 0;
	scale: 0;
	opacity: 0;
	transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
}

.ActiveLendingsRows.Active {
	position: unset;
	bottom: unset;
}

.ActiveLendingsRows.Active,
.ReturnedLendingsRows.Active {
	height: auto;
	scale: 1;
	opacity: 1;
}
