.ShowedInfo.Personas {
	display: block;
}

.HeaderPersonaCard {
	display: grid;
	grid-template-columns: auto auto;
}

.HeaderPersonaCard .PersonaInfo {
	grid-column: 1;
}

.HeaderPersonaCard .PersonaInfo div:first-child {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.HeaderPersonaCard .PersonaInfo h3 {
	font-size: 1.3em;
}

.HeaderPersonaCard .PersonaMoreInfo {
	grid-column: 2;
	display: flex;
	flex-direction: column;
	align-items: end;
}

.HeaderPersonaCard .PersonaMoreInfo p,
.HeaderPersonaCard .PersonaMoreInfo h5 {
	display: flex;
	justify-content: end;
}

.PersonaMoreInfo p span {
	margin-left: 5px;
	min-width: 10px;
	z-index: 10;
}

.HeaderPersonaCard select {
	font-size: 1em !important;
}

.Personas.Expandible div p:last-of-type {
	background: var(--secundary-bg);
	width: fit-content;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 10px;
}

@media screen and (min-width: 768px) {
	.HeaderPersonaCard .PersonaInfo h3 {
		font-size: 1.3em;
		line-height: unset;
	}
}
