.HomeRighSideContainer .RoundedRect.SearchBar {
}

.RigthAsideContainer {
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	max-width: 350px;
	overflow-y: auto;
	color: var(--inactive-fg);
	background: var(--secundary-bg);
}

.RigthAsideContainer input {
	min-width: 250px;
	justify-self: center;
	padding-left: 8px;
	padding-right: 8px;
}

.Bitacora {
	overflow: auto;
	height: 87vh;
	transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.Bitacora .ScrollDiv {
	display: grid;
	gap: 10px;
	overflow: auto;
}
