.LoginPrimaryContainer {
	display: flex;
	background: var(--logo-color);
}

.LoginContainer {
	display: none;
}

/*AREA DESIGN*/

.LoginDesignContainer {
	width: 100vw;
	height: 100vh;
	background: var(--gradient-accent);
	transition: all 0.5s ease-in;
}

.LoginLogoContainer {
	width: 100%;
	display: flex;
	position: relative;
}
.LoginLogoContainer svg path,
#o {
	fill: var(--logo-color);
	transition: all 0.5s ease-in-out;
}
#logo-lines {
	transform-origin: 46.7% 54.5%;
	animation: LinesRotate 10s linear infinite;
}
/* #line1 {
	transform-origin: 50% 50%;
}
#line2 {
	fill: transparent;
	transform-origin: 50% 50%;
}
#line3 {
	fill: transparent;
	transform-origin: 50% 50%;
} */
.LoginLogoContainer svg {
	margin: 20%;
}
.LoginLogoContainer text {
	fill: var(--active-fg);
}

/*SVG AREA DESIGN*/

@media only screen and (min-width: 768px) {
	.LoginDesignContainer {
		width: 55vw;
		height: 100vh;
	}
	.LoginLogoContainer {
		height: 100%;
		position: relative;
		justify-content: center;
	}
	.LoginLogoContainer svg {
		height: 100%;
		padding: 0% 20% 0% 20%;
	}
	.LoginContainer {
		display: flex;
		height: 100vh;
	}
}

@keyframes LinesRotate {
	0% {
		transform: rotate(358deg);
	}
	100% {
		transform: rotate(2deg);
	}
}

@keyframes ShrinkLogoMobile {
	0% {
		transform: scale(1);
		position: fixed;
		top: 50%;
		left: 50%;
		transform-origin: center center;
	}
	100% {
		transform: scale(0.5);
		position: absolute;
		top: 0;
		left: 50%;
		transform-origin: center top;
	}
}
