.Loading {
	position: relative;
	display: flex;
	width: 100%;
	height: 150px;
	overflow: hidden;
	border-radius: 50px;

	animation: Entry 3s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.Loading svg {
	align-self: center;
	fill: var(--logo-color);
	transition: all 0.5s ease-in-out;
	width: 100%;
	height: 90%;
	transform: translateY(-5%);
}

.Loading text {
	fill: var(--active-fg);
}

.Loading svg:hover {
	cursor: wait !important;
}

.Loading svg g#logo-lines {
	animation: LinesRotate 10s linear infinite;
}

.Loading svg g#logo-lines,
.Loading svg #o {
	filter: invert(50%);
}

.Loading @keyframes LinesRotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes Entry {
	0% {
		opacity: 0;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
