.HomePrimaryContainer {
	background: var(--primary-bg);
	display: flex;
	overflow-x: hidden;
}

.SideMenuContainer {
	position: fixed;
	display: grid;
	transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
	backdrop-filter: blur(5px);
	grid-template-rows: auto 1fr;
	width: 50%;
	height: 100vh;
	/* transform: translateX(-120%); */
}

.HomeMainContainer {
	height: 100vh;
	width: 100%;
	padding: 0 25px 0 30px;
	transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
	overflow: auto; /* Permite el scroll vertical */
	scrollbar-width: thin; /* Ancho de la barra de desplazamiento */
	scrollbar-color: #999999 #f2f2f2; /* Color de la barra */
}

.HomeRighSideContainer {
	position: fixed;
	background: var(--secundary-bg);
	transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
	transform: translateX(100%);
	height: 100%;
	right: 0;
}
.HomeRighSideContainer input {
	width: auto;
}

@media only screen and (min-width: 400px) {
	.SideMenuContainer {
		transform: translateX(-120%);
	}
	.HomeMainContainer {
		grid-area: main;
	}

	.UpperNav {
		display: flex;
		flex-wrap: wrap;
	}

	.HomeRighSideContainer {
		transform: translateX(100%);
	}
}

@media only screen and (min-width: 768px) {
	.HomePrimaryContainer {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-areas: 'left main ';
	}
	.SideMenuContainer {
		position: relative;
		grid-area: left;
		transform: unset;
		width: 300px;
	}
	.HomeMainContainer {
		grid-area: main;
	}
	.HomeRighSideContainer {
	}
}

@media only screen and (min-width: 1280px) {
	.HomePrimaryContainer {
		font-size: 18px;
		background: var(--primary-bg);
		grid-template-columns: auto 1fr auto;
		grid-template-areas: 'left main right';
	}

	.SideMenuContainer {
		width: 400px;
	}
	.HomeMainContainer {
		grid-area: main;
	}
	.HomeRighSideContainer {
		position: relative;
		grid-area: right;
		transform: translateX(0%);
	}
	.ShowRight {
		display: none;
	}
}
