.HomePrimaryContainer {
	background: var(--primary-bg);
	height: 100vh;
}

.SideMenuContainer {
	position: fixed;
	display: flex;
	flex-direction: column;
	transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
	grid-template-rows: auto 1fr;
	width: 50%;
	height: 100%;
	transform: translateX(-120%);
	z-index: 3;
}

.HomeMainContainer {
	transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
	overflow: hidden;
	display: grid;
	padding: 10px;
	box-sizing: border-box;
	grid-template-rows: auto 1fr;
	background: var(--primary-bg);
}

.HomeChildContainer {
	display: flex;
	flex-direction: column;
	position: relative;
	box-sizing: border-box;
	background: var(--secundary-bg);
	border-radius: 25px;
	color: var(--inactive-fg);
	border: 2px solid hsla(0, 0%, 0%, 0.1);
	transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
	height: 90vh;
}

.HomeRighSideContainer {
	position: fixed;
	background: var(--secundary-bg);
	transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
	transform: translateX(100%);
	height: 100vh;
	right: 0;
	overflow: hidden;
}
.HomeRighSideContainer input {
	width: auto;
	margin: 10px;
	background: var(--tertiary-bg);
	border: none;
	border-radius: 15px;
	color: var(--active-fg);
}
.HomeRighSideContainer input:focus {
	outline: var(--tertiary-bg);
}

/* @media only screen and (max-width: 400px) {
	.SideMenuContainer {
		transform: translateX(-120%);
	}
	.HomeMainContainer {
		grid-area: main;
	}
	.HomeRighSideContainer {
		transform: translateX(100%);
	}
} */

@media only screen and (min-width: 768px) and (min-height: 350px) {
	.HomePrimaryContainer {
		font-size: 18px;
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-areas: 'left main ';
	}
	.SideMenuContainer {
		position: relative;
		grid-area: left;
		transform: unset;
		width: 300px;
	}
	.SideMenuContainer.Short {
		width: 120px;
	}
	.ShowMenu {
		display: none;
	}
	.HomeMainContainer {
		grid-area: main;
		gap: 20px;
		padding: 20px;
	}
	.HomeChildContainer {
		font-size: 1em;
	}

	/* .HomeRighSideContainer {
	} */
}

@media only screen and (min-width: 1375px) {
	.HomePrimaryContainer {
		font-size: 18px;
		background: var(--primary-bg);
		grid-template-columns: auto 1fr auto;
		grid-template-areas: 'left main right';
	}

	.SideMenuContainer {
		width: 300px;
	}
	.SideMenuContainer.Short {
		width: 100px;
	}

	.HomeMainContainer {
		grid-area: main;
	}
	.HomeRighSideContainer {
		position: relative;
		grid-area: right;
		transform: translateX(0%);
	}
	.ShowRight {
		display: none;
	}
}
