.TableRow {
	height: auto;
	max-width: unset;
	border-radius: 15px;
	padding: 10px;
	background: var(--tertiary-bg);
	margin-bottom: 20px;
	grid-template-rows: 1fr auto;
}

.itemAvailable {
	position: relative;
}
.itemAvailable::before {
	scale: 0;
	content: attr(data-tooltip);
	position: absolute;
	color: var(--secundary-bg);
	background: var(--inactive-fg);
	font-size: 0.8em;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 10px;
	left: -10px;
	transition: all 1s cubic-bezier(0.23, 1, 0.32, 1) 1s;
}

.itemAvailable:hover::before {
	scale: 1;

	transform: translateX(-100%);
}

.TableRow:hover,
.TableRow:active {
	color: var(--active-fg);
}

.TableRow .ShowedInfo {
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 20px;
}

.TableRow .ShowedInfo .BrandModel div {
	display: flex;
	justify-content: center;
}
.BrandModel h4,
.BrandModel p {
	margin-left: 4px;
}

.TableRow .Expandible {
	border-top: 1px dashed var(--inactive-fg);
	position: absolute;
	opacity: 0;
	transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.TableRow .Expandible .Expanded {
	display: unset;
}

.returnedNotes {
	font-weight: 900;
}

@media screen and (max-width: 768px) {
	.TableRow {
		font-size: 1.5em;
	}

	.TableRow .ShowedInfo {
		display: inline;
	}

	.TableRow .ShowedInfo div {
		width: fit-content;
	}
}

.TableRow:hover .Expandible {
	animation: ShowExpandible 1.5s forwards;
}

@keyframes ShowExpandible {
	0% {
		opacity: 0;
		position: relative;
	}

	100% {
		opacity: 1;
		position: relative;
	}
}
