.TextBox {
	box-sizing: border-box;
	background: transparent;
	border: none;
	border-radius: 25px;
	overflow: hidden;

	resize: none;
}

.TextBox textarea {
	width: fit-content;
}

.TextBox.item_name {
	font-size: 1.2em;
}
