.RollContainer {
	display: flex;
	overflow-x: auto;
	width: 50%;
	align-items: center;
}

.RollItemsContainer {
	display: flex;
	gap: 10px;
}

.TabOption.Card {
	border: 1px solid var(--inactive-fg);
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	white-space: nowrap;
	background: none;
	font-size: 0.9em;
}

.TabOption.Card:hover {
	background: var(--gradient-accent);
}
