.MenuandUser {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	border-radius: 0 50px 0 0;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
	background: var(--secundary-bg);
}

.MenuContainer {
	display: flex;
	flex-direction: column;
	padding: 0 4px 0 0;
}

.menuVertical {
	position: relative;
	margin-top: 30px;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 65vh;
}

.hideMenuButton {
	position: absolute;
	right: -18px;
	top: 5%;
	background: var(--primary-bg);
	border: none;
	border-radius: 50%;
	cursor: pointer;
	transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}
.hideMenuButton:active {
	background: transparent;
}

.hideMenuButton .ico {
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1em;
	margin: 0.25em;
	font-size: 2em;
	color: var(--primary-bg);
	background: var(--gradient-accent);
}
.hideMenuButton:hover {
	background: var(--gradient-accent);
}

.menuHeader {
	position: relative;
	padding-left: 35px;
	color: var(--active-fg);
	opacity: 50%;
	margin: 20px 0 10px 0;
	font-size: 0.8em;
}

li span::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 1.2rem;
	height: 1px;
	transition: all 0.3s ease-in-out;
	background: var(--active-fg);
	opacity: 50%;
}

.divGap {
	width: 80%;
	height: 100%;
	align-self: center;
	border-bottom: 2px solid var(--inactive-fg);
	opacity: 0.5;
}

.menuUserSection {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-areas: 'img User';
	padding: 20px 0 15px 0;
	align-items: center;
	color: var(--inactive-fg);
}

.menuUserSection p {
	height: fit-content;
	width: fit-content;
	grid-area: UserName;
}

.menuUserSection p:hover {
	color: var(--active-fg);
	cursor: pointer;
	transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.menuUserSection span {
	height: fit-content;
	width: fit-content;
	grid-area: UserJob;
	font-size: 0.8em;
}

img {
	justify-self: center;
	grid-area: img;
	width: 4em;
	height: 4em;
	object-fit: cover;
	border-radius: 25px;
	border: solid 2px;
}

li {
	list-style: none;
}

@media screen and (max-width: 768px) {
	.menuUserSection {
		font-size: 0.8em;
	}

	img {
		justify-self: center;
		grid-area: img;
		width: 4em;
		height: 4em;
		object-fit: cover;
		border-radius: 25px;
		border: solid 2px;
	}
}

/* personalización de la barra de desplazamiento */
::-webkit-scrollbar {
	width: 5px; /* ancho de la barra */
}

::-webkit-scrollbar-track {
	background: transparent; /* color del fondo */
}

::-webkit-scrollbar-thumb {
	background-color: var(--primary-bg); /* color del thumb */
	border-radius: 20px; /* borde redondeado */
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--inactive-fg); /* color del thumb en hover */
}
