.OnCreateButton {
	position: absolute;
	color: var(--inactive-fg);
	background: var(--secundary-bg);
	filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
	display: flex;
	justify-content: center;
	gap: 10px;
	padding: 10px;
	border-radius: 15px;
	max-width: fit-content;
	bottom: 20px;
	right: 40px;
	font-size: 1.2em;

	/* Establece el tamaño inicial del botón */
	transform: scale(1);

	transition: transform 0.3s ease;
}

.OnCreateButton:hover {
	/* Aumenta el tamaño del botón al pasar el cursor sobre él */
	transform: scale(1.1);
	color: var(--active-fg);
}

.OnCreateButton .icon {
	font-size: 1em;
}
