/* .OnCreateButton {
	position: absolute;
	color: var(--inactive-fg);
	background: var(--tertiary-bg);
	filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));

	align-content: baseline;
	font-size: 1.8em;
	padding: 10px;
	border-radius: 15px;

	bottom: 30px;
	right: 30px;
}

.OnCreateButton .icon {
	font-size: 1em;
}

.OnCreateButton .text {
	opacity: 1;

	transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.OnCreateButton:hover .text {
	opacity: 1;
}
 */

.OnCreateButton {
	position: absolute;
	color: var(--inactive-fg);
	background: var(--tertiary-bg);
	filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));

	align-content: baseline;
	font-size: 1.4em;
	padding: 10px;
	border-radius: 15px;

	bottom: 30px;
	right: 30px;

	/* Establece el tamaño inicial del botón */
	transform: scale(1);

	transition: transform 0.3s ease;
}

.OnCreateButton:hover {
	/* Aumenta el tamaño del botón al pasar el cursor sobre él */
	transform: scale(1.1);
}

.OnCreateButton .icon {
	font-size: 1em;
}
