.UpperNav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px 0 15px;
	border-radius: 20px;
	color: var(--inactive-fg);
	background: var(--secundary-bg);
}
.UpperNav h2 {
	font-size: 1.1em;
}

.NavRightSide {
	display: grid;
	grid-template-columns: auto auto;
	gap: 20px;
}

.toggle-button {
	background: transparent;
	border: transparent;
	font-size: 2em;
	color: var(--inactive-fg);
}

.toggle-button.themeicon {
	font-size: 1.5em;
}
